*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #c6e9ff ;
    background-image: url(imgs/shape.png);
    background-size: 57%;
    background-repeat: no-repeat;
    overflow-x:hidden;
}
.logo{
    display: grid;
    
    grid-template-columns: 20% 80%;
}
.logo-image{
    width: 68%;
    height: auto;
    margin: 24% 0 0 20%;
}
.logo h1{
    letter-spacing: 7px;
    font-size: 3em;
    font-weight:600;
}
.header-container{
    width:100%;
    height: 10vh;
    margin: 0 5px;
    display: grid;
    grid-template-columns: 35% 48%;
    align-items: center;
    grid-gap: 17%;
}
.navLinks a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.55em;
    font-weight: 600;
    margin: 0.6em;
    letter-spacing: 1px;
    text-align:right;
}
.section1{
    width: 100%;
    height: 90vh;
    margin: auto;   
}
.landing{
    height: 70vh;
    display: grid;
    grid-template-columns: 54% 46%;
    align-items: center;
}
.callToAction{
    width: 80%;
    margin: 0 auto ;
    text-align: center;
    position: relative;
    top: -1em;
}
.actionPhrase{
    font-size: 3.3em;
    font-weight: 600;
    letter-spacing: 2px;
}
.imgBox{
    width: 90%;
    margin: auto;
}
.landing div img{
    width:100%;
}
.magnet-phrase{
    width:60%;
    margin: auto;
    height:20vh;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 2em;
    font-weight: 600;
}
.callToAction a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.55em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align:right;
    
}
.landingButtons{
    padding: 0;
    border:solid;
    border-color: black;
    margin-top: 20% ;
    padding:0.2em 1em;
    font-size: 1.2em;
}
#shopButton{
    background-color: black;
    color: rgb(219, 219, 219);
}
#contactButton p{
    color: rgb(0, 0, 0);
}
#shopButton{
    margin-right: 0.7em;
}
#contactButton{
    margin-left: 0.7em;
}
.landingButtons p{
    margin:0;
}
h2{
    text-align: center;
    font-size: 2em;
}
