*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #c6e9ff ;
    background-image: url(imgs/shape.png);
    background-size: 50vw;
    background-repeat: no-repeat;
    --tittleSize: calc(1em + 3vw);
    --logoSize: calc(1em + 2vw);
    --magnetSize: calc(1.1em + 1vw);
    --buttonSize: calc(0.2rem + 1.9vw);
    --buyButtonSize: 1.1em;
    --prizeSize: 1.5em;
    --productTittleSize: 1.3em;
    overflow-x: hidden;
}
.logo{
    margin-left: 2vw;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 80%;
}
.principalLogo{
    margin-left: -1vw;
}
.logo-image{
    width: 68%;
}
.logo h1{
    letter-spacing: 0.4vw;
    font-size: var(--logoSize);
    font-weight:600;
}
.header-container{
    width:100%;
    height: 10vh;
    margin: 0 5px;
    display: grid;
    grid-template-columns: 35% 48%;
    align-items: center;
    grid-gap: 17%;
}
.navLinks a{
    display: inline-block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.55em;
    font-weight: 600;
    margin: 0.6em;
    letter-spacing: 1px;
    text-align:right;
}
.section1{
    width: 100%;
    height: 90vh;
    margin: auto;
    max-width: 100%;
}
.landing{
    width: 100%;
    height: 70vh;
    
    display: grid;
    grid-template-columns: 27fr 23fr;
    align-items: center;
}
.callToAction{
    width: 80%;
    margin: 0 auto ;
    text-align: center;
    position: relative;
    top: -1em;
}
.actionPhrase{
    font-size: var(--tittleSize);
    font-weight: 600;
    letter-spacing: 2px;
}
.imgBox{
    width: 80%;
    margin: auto;
}
.landing div img{
    width:100%;
    max-height: 80vh;
    margin-top: -6vh;
}
.magnet-phrase{
    width:80%;
    margin: 8vh auto 0;
    height:20vh;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: var(--magnetSize);
    font-weight: 600;
}
.callToAction a{
    display:block;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.55em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align:right;
    padding: 0;
    align-items: center;
    width: 100%;
    margin: auto;
}
.gridButtons{
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-align: center;
}
.actionButtons{
    display: block;
    background-color: #c6e9ff ;
    border: solid;
    width: 78%;
    font-size: var(--buttonSize);
    margin: auto;
    padding: 2% 0;
}
.actionButtons:hover{
    cursor: pointer;
}
.blackButton{
    background-color: rgba(0, 0, 0, 0.904);
    color: #ffffff ;
    border: black;
}
h2{
    text-align: center;
    font-size: 2em;
}
.section2{
    width: 90%;
    margin: 0 auto 17%;
}
.section2 h2{
    font-size: 2rem;
    margin: 1rem auto 2rem;
}
.allProducts{
    width: 90%;
    margin: auto;
    display: grid;
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    grid-template-columns: repeat(auto-fill, minmax(174px, 1fr));
    column-gap: 4rem;
    row-gap: 1rem;
    align-items: center;
    text-align: center;
}
.cards{
    width: 100%;
    background-color: #d9f0ff;
    border-radius: 0.7em;
    padding: 1em;
    box-shadow: -0.5em 0.5em 1em rgba(0, 0, 0, 0.3)
}
.cards img{
    width: 100%;
    margin: auto;
    
}
.productName{
    font-size: var(--productTittleSize);
    margin: 0;
}
.productPrize{
    font-size: var(--prizeSize);
    color: #7d9eb3;
    margin: 0.1em 0 0.5em;
}
.cards a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.buttonContainer{
    background-color: #20be5a;
    padding: 0.5em 0.3em;
    border-radius: 0.5em;
    padding: 0.5em 0.8em;
}
.buttonContainer p{
    margin: 0;
    font-size: var(--buyButtonSize);
}
.footer{
    display: inline-block;
}

@media (max-width: 1262px) {
    .magnet-phrase{
        margin: 4vh auto 0;
    }
}
@media (max-width: 900px) {
    body{
    --buttonSize: calc(1rem + 1.9vw);
    --buyButtonSize: calc(0.3em + 1.5vw);
    --tittleSize: calc(1em + 3vw);
    --logoSize: calc(1em + 2vw);
    --magnetSize: calc(1em + 1vw);
    }
    .allProducts{
        column-gap: 3.2em;
    }
    
}
@media (max-width: 768px){
    
    
    body{
    --tittleSize: calc(1.6em + 3vw);
    --logoSize: calc(1.6em + 2vw);
    --magnetSize: calc(1.3em + 1vw);
    --buttonSize: calc(1em + 1.9vw);
    --buyButtonSize: 1.7em;
    --prizeSize: 1.8em;
    --productTittleSize: 1.9em;
    }
    .logo{
        margin-top: -1em;
    }
    .principalLogo{
        margin-left: -1vw;
    }
    .logo-image{
        width: 68%;
    }
    .landing{
    grid-template-columns: 1fr;
    }
    .imgBox{
    width: 60%;
    margin-left: 30%;
    margin-bottom: 0;
    max-width: none;
    grid-row-start: 1;
    }
    .callToAction{
        grid-row-start: 2;
    }
    .actionPhrase{
        margin: 0.5em auto 0.5em;
    }
    .magnet-phrase{
        height: 10%;
        margin: 0.5em auto 3em;
    }
    .landing div img{
        width:100%;
        max-height: none;
        margin-top: 0;
    }
    .section1{
        width: 100%;
        height: auto;
        margin: auto;
        max-width: 100%;
    }
    .landing{
        width: 100%;
        height: auto;
    }
    .header-container{
        width:100%;
        height: auto;
        margin: 0 5px;
        display: grid;
        grid-template-columns: 35% 48%;
        align-items: center;
        grid-gap: 17%;
    }
    .allProducts{
        column-gap: 4.1em;
    }
}
@media (max-width: 644px) {
    body{
        margin-top:0.5em;
        --buttonSize: calc(1em + 1.9vw);  
        --logoSize: calc(1rem + 2vw);
        --magnetSize: calc(0.9rem + 1vw);
        --buyButtonSize: 1.2em;
        --prizeSize: 1.4em;
        --productTittleSize: 1.5em;
        }
    }
@media (max-width: 572px){
    body{
        --buttonSize: calc(1rem + 1.9vw);    
        --tittleSize: calc(1.4rem + 3vw);
        --logoSize: calc(0.7rem + 2vw);
        }
        .allProducts{
            column-gap: 3rem ;
            margin-left: 1rem;
        }
    .allProducts{
        grid-template-columns: 1fr 1fr;
        margin-left: 0.5em;
    }
}
@media (max-width: 465px) {
    .allProducts{
        grid-template-columns: 1fr;
        width: 65%;
        margin: auto;
    }
}
@media (max-width: 370px) {
    .allProducts{
        grid-template-columns: 1fr;
        width: 70%;
        margin-left: 1.5em;
    }


